<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.AsistantMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Asistant" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="assistant" property="assistant" jdbcType="VARCHAR" />
    <result column="file" property="file" jdbcType="VARCHAR" />
    <result column="apply_user" property="applyUser" jdbcType="VARCHAR" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="apply_result" property="applyResult" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, assistant, file, apply_user, apply_time, apply_result
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from acting_asistant
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from acting_asistant
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Asistant" >
    insert into acting_asistant (id, assistant, file, 
      apply_user, apply_time, apply_result
      )
    values (#{id,jdbcType=INTEGER}, #{assistant,jdbcType=VARCHAR}, #{file,jdbcType=VARCHAR}, 
      #{applyUser,jdbcType=VARCHAR}, #{applyTime,jdbcType=TIMESTAMP}, #{applyResult,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Asistant" >
    insert into acting_asistant
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="assistant != null" >
        assistant,
      </if>
      <if test="file != null" >
        file,
      </if>
      <if test="applyUser != null" >
        apply_user,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="applyResult != null" >
        apply_result,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="assistant != null" >
        #{assistant,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        #{file,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null" >
        #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyResult != null" >
        #{applyResult,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Asistant" >
    update acting_asistant
    <set >
      <if test="assistant != null" >
        assistant = #{assistant,jdbcType=VARCHAR},
      </if>
      <if test="file != null" >
        file = #{file,jdbcType=VARCHAR},
      </if>
      <if test="applyUser != null" >
        apply_user = #{applyUser,jdbcType=VARCHAR},
      </if>
      <if test="applyTime != null" >
        apply_time = #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyResult != null" >
        apply_result = #{applyResult,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Asistant" >
    update acting_asistant
    set assistant = #{assistant,jdbcType=VARCHAR},
      file = #{file,jdbcType=VARCHAR},
      apply_user = #{applyUser,jdbcType=VARCHAR},
      apply_time = #{applyTime,jdbcType=TIMESTAMP},
      apply_result = #{applyResult,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>