<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.CodeMapMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.CodeMap" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="code_type" property="codeType" jdbcType="VARCHAR" />
    <result column="code_value" property="codeValue" jdbcType="VARCHAR" />
    <result column="code_name" property="codeName" jdbcType="VARCHAR" />
    <result column="code_desc" property="codeDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, code_type, code_value, code_name, code_desc
  </sql>

  <select id="getAssistant" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from codemap
    where code_type='assistant'
  </select>

  <select id="getProvinces" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from codemap
    where code_type='province'
  </select>

  <select id="getCares" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from codemap
    where code_type='cares'
  </select>

  <select id="getProjects" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from codemap
    where code_type='project'
  </select>

  <select id="getCitys" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from codemap
    where code_name=#{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from codemap
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from codemap
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.CodeMap" >
    insert into codemap (id, code_type, code_value, 
      code_name, code_desc)
    values (#{id,jdbcType=INTEGER}, #{codeType,jdbcType=VARCHAR}, #{codeValue,jdbcType=VARCHAR}, 
      #{codeName,jdbcType=VARCHAR}, #{codeDesc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.CodeMap" >
    insert into codemap
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="codeType != null" >
        code_type,
      </if>
      <if test="codeValue != null" >
        code_value,
      </if>
      <if test="codeName != null" >
        code_name,
      </if>
      <if test="codeDesc != null" >
        code_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="codeType != null" >
        #{codeType,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null" >
        #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="codeDesc != null" >
        #{codeDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.CodeMap" >
    update codemap
    <set >
      <if test="codeType != null" >
        code_type = #{codeType,jdbcType=VARCHAR},
      </if>
      <if test="codeValue != null" >
        code_value = #{codeValue,jdbcType=VARCHAR},
      </if>
      <if test="codeName != null" >
        code_name = #{codeName,jdbcType=VARCHAR},
      </if>
      <if test="codeDesc != null" >
        code_desc = #{codeDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.CodeMap" >
    update codemap
    set code_type = #{codeType,jdbcType=VARCHAR},
      code_value = #{codeValue,jdbcType=VARCHAR},
      code_name = #{codeName,jdbcType=VARCHAR},
      code_desc = #{codeDesc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>