<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.HouseServiceMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.HouseService" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="serviec_name" property="serviecName" jdbcType="VARCHAR" />
    <result column="appointment_time" property="appointmentTime" jdbcType="TIMESTAMP" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, serviec_name, appointment_time, address, type
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from house_service
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from house_service
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.HouseService" >
    insert into house_service (id, serviec_name, appointment_time, 
      address, type)
    values (#{id,jdbcType=INTEGER}, #{serviecName,jdbcType=VARCHAR}, #{appointmentTime,jdbcType=TIMESTAMP}, 
      #{address,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.HouseService" >
    insert into house_service
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serviecName != null" >
        serviec_name,
      </if>
      <if test="appointmentTime != null" >
        appointment_time,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="type != null" >
        type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="serviecName != null" >
        #{serviecName,jdbcType=VARCHAR},
      </if>
      <if test="appointmentTime != null" >
        #{appointmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.HouseService" >
    update house_service
    <set >
      <if test="serviecName != null" >
        serviec_name = #{serviecName,jdbcType=VARCHAR},
      </if>
      <if test="appointmentTime != null" >
        appointment_time = #{appointmentTime,jdbcType=TIMESTAMP},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.HouseService" >
    update house_service
    set serviec_name = #{serviecName,jdbcType=VARCHAR},
      appointment_time = #{appointmentTime,jdbcType=TIMESTAMP},
      address = #{address,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>