<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.OrderMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.Order" >
    <id column="orderid" property="orderid" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="foodids" property="foodids" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="BaseResultMap1" type="com.pojo.Order" >
    <id column="orderid" property="orderid" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="VARCHAR" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="flag" property="flag" jdbcType="INTEGER" />
    <result column="foodids" property="foodids" jdbcType="VARCHAR" />
    <result column="createtime" property="createtime" jdbcType="TIMESTAMP" />
    <collection property="shop" column="orderid" select="com.dao.ShopMapper.selectByOrderid"></collection>
  </resultMap>
  <sql id="Base_Column_List" >
    orderid, address, name, number, amount, flag, createtime,foodids
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from communitymanagement.order
    where orderid = #{orderid,jdbcType=INTEGER}
  </select>
  
  <select id="getAllOrder" resultMap="BaseResultMap1" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from communitymanagement.order
  </select>
   <select id="getMyOrder" resultMap="BaseResultMap1" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from communitymanagement.order where name=#{name,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from communitymanagement.order
    where orderid = #{orderid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.Order" >
    insert into communitymanagement.order (orderid, address, name, 
      number, amount, flag, 
      createtime,foodids)
    values (#{orderid,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{number,jdbcType=VARCHAR}, #{amount,jdbcType=DECIMAL}, #{flag,jdbcType=INTEGER}, 
      #{createtime,jdbcType=TIMESTAMP},#{foodids,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.Order" >
    insert into communitymanagement.order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        orderid,
      </if>
      <if test="address != null" >
        address,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="flag != null" >
        flag,
      </if>
      <if test="createtime != null" >
        createtime,
      </if>
      <if test="foodids != null" >
        foodids,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="address != null" >
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        #{number,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="flag != null" >
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="foodids != null" >
         #{foodids,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.Order" >
    update communitymanagement.order
    <set >
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=VARCHAR},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="flag != null" >
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="createtime != null" >
        createtime = #{createtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where orderid = #{orderid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.Order" >
    update order
    set address = #{address,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      number = #{number,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=DECIMAL},
      flag = #{flag,jdbcType=INTEGER},
      createtime = #{createtime,jdbcType=TIMESTAMP}
    where orderid = #{orderid,jdbcType=INTEGER}
  </update>
</mapper>